

<html xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">


<head th:replace="~{base :: head}"> </head>

<div th:replace="~{base :: logo}" ></div>
<body>

    <div sec:authorize="hasRole('ROLE_FUNCIONARIO')"
         th:switch="${listaClientes}">
        <h2 th:case="null">Nenhum cliente a ser exibido!</h2>
        <div th:case="*">
            <h2>Lista de Clientes</h2>
            <table>
                <thead>
                <tr>
                    <th >Id Cliente</th>
                    <th>Nome</th>
                    <th>E-mail</th>
                    <th>CPF</th>
                    <th>RG</th>
                    <th>Endereço Completo</th>
                    <th>Renda</th>
                    <th sec:authorize="hasRole('SUPER_ADMIN')">Edit</th>
                    <th sec:authorize="hasRole('SUPER_ADMIN')">Delete</th>


                </tr>
                </thead>
                <tbody>
                <tr th:each="cliente : ${listaClientes}">
                    <td th:text="${cliente.id}"></td>
                    <td class="card-header" th:text="${cliente.nome}"></td>
                    <td th:text="${cliente.email}"></td>
                    <td class="card-header" th:text="${cliente.cpf}"></td>
                    <td th:text="${cliente.rg}"></td>
                    <td th:text="${cliente.enderecoCompleto}"></td>
                    <td th:text="${cliente.renda}"></td>
                    <td><a th:href="@{cliente/edit/{id}(id=${cliente.id})}"></a></td>
                    <td><a th:href="@{cliente/delete/{id}(id=${cliente.id})}"></a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>


</body>

</html>